.container {
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
}

.logo {
     display: block;
     margin-left: 28%;
     margin-right: auto;
     width: 45%;
    text-align: center;
 }

.form {
    margin: auto;
    /*width: 50%;*/
    text-align: center;
}
